.page,
.page-body {
  scrollbar-gutter: stable;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.page-body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: rem(16);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.content {
  overflow: hidden;
  overflow-y: visible;
}

@supports (overflow: clip) {
  .content {
    overflow-x: clip;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
}

a {
  text-decoration: none;
  color: inherit;
}
