.about {
  --_about-grid-gap: 30px;

  position: relative;
  display: grid;
  grid-template-columns: calc(var(--first-column-width) - var(--_about-grid-gap)) 1fr 1fr;
  gap: var(--_about-grid-gap);

  &__item {
    p {
      max-width: rem(227);
    }
  }

  &__text {
    font-family: var(--font-family-extra);
    font-size: rem(18);
    line-height: 1.3;
  }

  &__count {
    display: block;
    margin-bottom: rem(5);
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: rem(30);
  }
}
