.blog {
  display: flex;

  picture {
    display: block;
  }

  img {
    filter: brightness(70%);
    transition: filter 0.2s ease-in-out;
  }

  &__item {
  }

  &__item--single {
    padding-right: rem(30);
    width: 100%;
    max-width: var(--first-column-width);
  }

  &__video-button {
    position: relative;
    display: block;

    @include hover {
      img {
        filter: brightness(100%);
      }

      .video-button {
        border-color: var(--action-color);
        background-color: var(--action-color);
      }
    }
  }

  &__item-fake-button {
    @include abs-center;
  }

  &__item-dialog-overlay {
    width: 138vmin;
  }

  &__item-dialog-wrapper {
  }

  &__item-dialog-close-btn-wrapper {
  }

  &__item-dialog-close-btn {
  }

  &__item-dialog-body {
  }

  &__item-dialog-content {
    position: relative;
    aspect-ratio: 16 / 9;
  }

  &__items-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    max-width: rem(414);
    gap: rem(36) rem(20);
  }

  &__follow-link {
  }
}
