.cases {
  --_casesGridGap: 1.875rem;

  display: grid;
  grid-template-areas:
    "vertical-1 horizont-1 vertical-2"
    "vertical-1 horizont-2 vertical-2";
  grid-template-columns: repeat(3, 1fr);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: repeat(2, 1fr);
  min-height: rem(560);
  gap: var(--_casesGridGap);

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-stroke);
    padding: rem(40) rem(20) rem(30) rem(30);
  }

  &__item-value {
    margin-bottom: rem(80);
    max-width: 60%;
    line-height: 1.3;

    span {
      display: block;
      margin-bottom: rem(10);
      font-family: var(--font-family-extra);
      font-size: rem(36);
    }
  }

  &__item-name {
    font-family: var(--font-family-extra);
    font-size: rem(18);
    line-height: 1.4;
  }

  &__item-video-content {
    display: flex;
    column-gap: rem(20);
    align-items: center;
    margin-top: auto;

    picture {
      flex-shrink: 0;
    }
  }

  &__item-video-controls {
  }

  &__item-video-button {
    // @include desktop {
    //   position: absolute;
    // }
  }

  &__item-button-text {
    margin-top: rem(10);
    font-weight: 500;
    line-height: 1.3;

    @include desktop {
      display: none;
    }
  }

  &__item--1 {
    grid-area: vertical-1;
  }

  &__item--2 {
    grid-area: horizont-1;
  }

  &__item--3 {
    grid-area: horizont-2;
  }

  &__item--4 {
    grid-area: vertical-2;
  }

  &__item--vertical {
  }

  &__item--horizontal {
    .cases__item-video-content {
      margin: unset;
    }

    .cases__item-video-controls {
      position: absolute;
      right: rem(30);
      top: rem(40);
    }

    .cases__item-value {
      margin-bottom: rem(20);
    }

    .cases__item-name {
      margin-top: auto;
    }

    picture {
      display: none;
    }

    .cases__item-button-text {
      display: none;
    }
  }
}
