.clients {
  grid-auto-rows: 1fr;

  &__item-text {
    font-family: var(--font-family-extra);
    font-weight: 500;
    font-size: rem(18);
    line-height: 1.3;

    @include mobile {
      font-size: rem(14);
    }
  }

  &__item-icon {
    @include square(61px);

    margin-bottom: rem(10);
  }

  @include mobile {
    grid-template-columns: repeat(4, minmax(107px, 1fr));
    padding-bottom: rem(20);
    gap: rem(20);
  }
}
