.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding-top: rem(20);
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-block: rem(20);
    padding-inline: var(--container-padding-x);

    @include tablet {
      padding-block: 0;
    }
  }

  &__logo {
    flex-shrink: 0;
    margin-right: clamp(1.875rem, -10.263rem + 18.97vw, 3.25rem);

    @include tablet {
      max-width: rem(120);
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 100%;

    @include tablet {
      position: fixed;
      left: 100%;
      top: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: var(--bg-color);
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      &--open {
        left: 0;
        visibility: visible;
      }
    }
  }

  &__nav {
    margin-right: auto;
    font-size: rem(16);

    @include tablet {
      margin: 0;
      margin-bottom: rem(40);
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: clamp(1.25rem, -4.267rem + 8.62vw, 1.875rem);

    @include tablet {
      flex-direction: column;
      gap: rem(10);
    }
  }

  &__nav-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: 40px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition-duration: inherit;
      translate: -50%;
    }

    @include tablet {
      min-height: 30px;
    }

    @include hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__button {
    @include tablet {
      height: 48px;
      font-size: 16px;
      padding-inline: 16px;
    }
  }

  &__phone {
    margin-right: rem(36);

    @include tablet {
      margin: 0;
      margin-bottom: rem(20);
    }
  }

  // &__soc1als {
  // }

  // @include desktop {
  //   padding-top: 30px;
  // }

  @include mobile {
    padding-top: 15px;
  }
}
