.hero {
  background-image: url("../img/hero/dots.png");
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-left: 1px solid transparent;
    border-image: var(--body-lines-gd-alt);
    border-image-slice: 1;
    width: 45vw;
    height: 100%;
    background-image: radial-gradient(
      304.35% 148.2% at 3.2% 3.49%,
      rgb(255 246 233 / 0%) 0%,
      rgb(26 29 35 / 0.28%) 26%,
      rgb(26 29 35 / 1%) 52%,
      rgb(26 29 35 / 10%) 70%,
      rgb(26 29 35 / 10%) 91%,
      rgb(26 29 35 / 10%) 100%
    );
    transform: rotate(-180deg);
    backdrop-filter: blur(8px);

    @include mobile {
      border: unset;
      background: unset;
      backdrop-filter: unset;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 45vw;
    height: 100%;
    background-image: url("../img/hero/noise.png");
    opacity: 0.15;
    mix-blend-mode: overlay;

    @include mobile {
      background: unset;
    }
  }

  &__body {
    --_hero-pt: clamp(5.625rem, 1.757rem + 15.87vw, 13.063rem);

    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: var(--_hero-pt);
    padding-bottom: rem(100);
    background-image: url("../img/hero/ball.png");
    background-position: center;
    background-repeat: no-repeat;

    @include mobile {
      flex-direction: column;
      padding-bottom: rem(40);
      background: unset;
    }
  }

  &__info {
    z-index: 20;
    display: flex;
    flex-basis: rem(362);
    flex-direction: column;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-image: var(--body-lines-gd);

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      flex-basis: unset;
      align-items: center;
      margin-bottom: rem(80);
      text-align: center;
    }
  }

  &__title {
    --_hero-title-fz: clamp(2.063rem, 0.188rem + 9.38vw, 3rem);

    margin-bottom: rem(30);
    font-family: var(--font-family-extra);
    font-weight: 400;
    font-size: var(--_hero-title-fz);
    line-height: 1.3;
  }

  &__description {
    max-width: rem(275);
    font-size: rem(18);
    line-height: 1.3;
  }

  &__cta {
    position: relative;
    z-index: 20;
  }
}
