.order {
  --_orderGridGap: 30px;
  --_gridTCol: calc(var(--first-column-width) - var(--_orderGridGap)) 1fr;

  display: grid;
  column-gap: var(--_orderGridGap);
  grid-template-columns: var(--_gridTCol);

  @include tablet {
    --_gridTCol: 1fr;

    row-gap: rem(40);
  }
}
