/* stylelint-disable order/order */
.accordion {
  --_panel-padding: 0.625rem;
  --_button-size: 2.5rem;

  display: flex;
  flex-direction: column;
  contain: content;
  border: 0.5px solid var(--light-stroke);

  // &__panel {
  //   flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
  //   overflow: hidden;
  //   border: 0.5px solid var(--light-stroke);

  //   &:has([aria-expanded="true"]) {
  //     flex-grow: 1;
  //     flex-basis: 200%;
  //   }
  // }

  &__panel {
    display: flex;
    flex-direction: column;

    @media (prefers-reduced-motion: no-preference) {
      &:has([aria-expanded="true"]) p {
        transition:
          transform 500ms 500ms,
          opacity 500ms 500ms;
      }
    }
  }

  &__panel-content {
    flex-grow: 0;
    overflow: hidden;
    height: 0;
    transform: scaleY(0);

    @media (prefers-reduced-motion: no-preference) {
      transition: all 0.5s;
    }

    &:not(:last-child) {
      border-top: unset;
    }

    p {
      max-width: rem(625);
      opacity: 0;
      transform: translateY(2rem);
    }
  }

  &__panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--light-stroke);
    padding-right: calc(var(--_panel-padding) * 1.5);
    padding-left: calc(var(--_panel-padding) * 3);
    padding-block: var(--_panel-padding);
  }

  &__panel-title {
    font-family: var(--font-family-extra);
    font-weight: 400;
    font-size: rem(18);
    line-height: 1.2;
  }

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: var(--title-color-alt);

    &:focus-visible {
      outline: 3px solid var(--color-blue);
      outline-offset: 4px;
    }
  }

  .active-panel {
    .accordion__panel-content {
      flex-grow: 1;
      flex-basis: 100%;
      padding: rem(30);
      height: 50px;
      transform: scaleY(1);
    }

    p {
      opacity: 1;
      transform: translateY(0);
    }

    &.accordion__panel {
      &:not(:last-child) {
        border-bottom: 0.5px solid var(--light-stroke);
      }
    }
  }
}
