.blurred-balls {
  --_blur-m: 392px;
  --_blur-s: 80px;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    opacity: var(--blur-opacity, 0.4);
  }

  &--hero {
    &::before,
    &::after {
      @include square(280px);

      filter: blur(var(--_blur-s));
      transform: translateY(-50%);
    }

    &::before {
      left: 50%;
      bottom: -25%;
      background-color: var(--bb-color-orange);
    }

    &::after {
      left: -25%;
      top: 50%;
      background-color: var(--bb-color-dark-red);
    }
  }

  &--intro {
    &::after,
    &::before {
      @include square(308px);

      filter: blur(var(--_blur-s));
    }

    &::before {
      right: -50%;
      background-color: var(--bb-color-violet);
      transform: translateX(-50%);
    }

    &::after {
      left: 10%;
      top: 100%;
      background-color: var(--bb-color-scarlet);
      transform: translateY(-50%);
    }
  }

  &--about {
    &::before {
      @include square(364px);

      left: -10%;
      top: 0%;
      background-color: var(--bb-color-dark-red);
      filter: blur(var(--_blur-s));
    }

    &::after {
      content: none;
    }
  }

  &--solving {
    &::before {
      @include square(374px);

      right: 0;
      top: 0;
      background-color: var(--bb-color-orange);
      filter: blur(var(--_blur-s));
    }

    &::after {
      content: none;
    }
  }

  &--services {
    &::before {
      @include square(103px);

      left: 40%;
      bottom: -103px;
      z-index: -1;
      background-color: var(--bb-color-orange);
      filter: blur(var(--_blur-s));
    }

    &::after {
      @include square(382px);

      left: 100%;
      bottom: 0;
      z-index: -1;
      background-color: var(--bb-color-violet);
      opacity: 0.2;
      filter: blur(var(--_blur-s));
    }
  }

  &--access {
    position: absolute;
    inset: 0;

    &::before {
      @include square(347px);

      left: 40%;
      bottom: -103px;
      z-index: -1;
      background-color: var(--bb-color-orange);
      filter: blur(var(--_blur-s));
    }

    &::after {
      @include square(540px);

      left: -20%;
      bottom: 0;
      z-index: -1;
      background-color: var(--bb-color-violet);
      filter: blur(var(--_blur-s));
    }

    &-extra {
      &::before {
        @include square(547px);

        left: 80%;
        bottom: -10%;
        z-index: -1;
        background-color: var(--bb-color-dark-red);
        filter: blur(var(--_blur-s));
      }

      &::after {
        content: none;
      }
    }
  }

  &--thanks {
    position: absolute;
    inset: 0;

    &::before {
      @include square(670px);

      left: 53%;
      bottom: -28px;
      z-index: -1;
      background-color: var(--bb-color-dark-red);
      filter: blur(var(--_blur-s));
    }

    &::after {
      @include square(606px);

      left: -20%;
      bottom: 0;
      z-index: -1;
      background-color: var(--bb-color-violet);
      filter: blur(var(--_blur-s));
    }
  }
}
