.page-decor {
  position: fixed;
  left: 50%;
  z-index: -1;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-image: var(--body-lines-gd);
  border-image-slice: 1;
  width: calc(100% - var(--container-padding-x) * 2);
  height: 100%;
  max-width: var(--container-width);
  transform: translateX(-50%);
  margin-inline: auto;
}
