/* stylelint-disable order/order */
.button {
  @include flex-center(true);

  width: 100%;
  height: var(--button-height);
  font-size: rem(16);
  line-height: 1.3;
  color: inherit;
  background-color: var(--action-color);
  cursor: pointer;
  padding-inline: rem(15);

  @include hover {
    box-shadow: 0 0 40px 6px rgb(64 119 243 / 30%);
  }

  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  }
}
