.cross-button {
  // --_cbBgColor: var(--text-color);

  @include reset-button;
  @include square(48px);

  position: relative;
  border-radius: var(--border-radius-small);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 50%;
    border-radius: 5px;
    width: 70%;
    height: 2px;
    background-color: var(--_cbBgColor, var(--text-color));
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }

  @include hover {
    background-color: var(--action-color);
  }
}
