.dialog-element {
  &__wrapper {
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__close-button {
    display: block;
    margin-left: auto;
  }

  &__overlay {
    border: none;
    padding: 0;

    &::backdrop {
      background-color: red;
    }
  }

  &__close-button-wrapper {
  }

  &__body {
  }

  &__content {
  }
}
