.sprite {
  display: block;
  background-image: url("../img/icons/icons-sprite.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: image-set(
    url("../img/icons/icons-sprite.avif") type("image/avif"),
    url("../img/icons/icons-sprite.webp") type("image/webp"),
    url("../img/icons/icons-sprite.png")
  );
  background-repeat: no-repeat;
}

.sprite-audit {
  width: 70px;
  height: 70px;
  background-position: -5px -5px;
}

.sprite-b2b {
  width: 61px;
  height: 61px;
  background-position: -85px -5px;
}

.sprite-build {
  width: 61px;
  height: 61px;
  background-position: -156px -5px;
}

.sprite-cleaning {
  width: 61px;
  height: 61px;
  background-position: -227px -5px;
}

.sprite-consulting {
  width: 61px;
  height: 61px;
  background-position: -298px -5px;
}

.sprite-custom {
  width: 70px;
  height: 70px;
  background-position: -85px -76px;
}

.sprite-dashboard {
  width: 70px;
  height: 70px;
  background-position: -165px -76px;
}

.sprite-edu {
  width: 61px;
  height: 61px;
  background-position: -245px -76px;
}

.sprite-finance {
  width: 61px;
  height: 61px;
  background-position: -316px -76px;
}

.sprite-func {
  width: 70px;
  height: 70px;
  background-position: -5px -147px;
}

.sprite-hr {
  width: 61px;
  height: 61px;
  background-position: -245px -147px;
}

.sprite-instalation {
  width: 70px;
  height: 70px;
  background-position: -316px -147px;
}

.sprite-integration {
  width: 70px;
  height: 70px;
  background-position: -5px -227px;
}

.sprite-it {
  width: 61px;
  height: 61px;
  background-position: -85px -227px;
}

.sprite-law {
  width: 61px;
  height: 61px;
  background-position: -156px -227px;
}

.sprite-license {
  width: 70px;
  height: 70px;
  background-position: -227px -227px;
}

.sprite-log {
  width: 61px;
  height: 61px;
  background-position: -307px -227px;
}

.sprite-market {
  width: 61px;
  height: 61px;
  background-position: -85px -298px;
}

.sprite-prod {
  width: 61px;
  height: 61px;
  background-position: -156px -298px;
}

.sprite-realty {
  width: 61px;
  height: 61px;
  background-position: -307px -298px;
}

.sprite-rent {
  width: 70px;
  height: 70px;
  background-position: -387px -5px;
}

.sprite-sales {
  width: 70px;
  height: 70px;
  background-position: -396px -85px;
}

// .sprite-sales {
//   width: 61px;
//   height: 61px;
//   background-position: -396px -165px;
// }

.sprite-sport {
  width: 61px;
  height: 61px;
  background-position: -378px -236px;
}

.sprite-support {
  width: 70px;
  height: 70px;
  background-position: -5px -307px;
}

.sprite-teach {
  width: 70px;
  height: 70px;
  background-position: -227px -307px;
}

.sprite-training {
  width: 70px;
  height: 70px;
  background-position: -378px -307px;
}

.sprite-transport {
  width: 61px;
  height: 61px;
  background-position: -5px -387px;
}
