.sprite {
  display: block;
  background-image: url("../img/icons/icons-sprite.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: image-set(
    url("../img/icons/icons-sprite.avif") type("image/avif"),
    url("../img/icons/icons-sprite.webp") type("image/webp"),
    url("../img/icons/icons-sprite.png")
  );
  background-repeat: no-repeat;
}

.sprite-audit {
  background-position: -5px -5px;
}

.sprite-b2b {
  background-position: -85px -5px;
}

.sprite-build {
  background-position: -156px -5px;
}

.sprite-cleaning {
  background-position: -227px -5px;
}

.sprite-consulting {
  background-position: -298px -5px;
}

.sprite-custom {
  background-position: -85px -76px;
}

.sprite-dashboard {
  background-position: -165px -76px;
}

.sprite-edu {
  background-position: -245px -76px;
}

.sprite-finance {
  background-position: -316px -76px;
}

.sprite-func {
  background-position: -5px -147px;
}

.sprite-hr {
  background-position: -245px -147px;
}

.sprite-instalation {
  background-position: -316px -147px;
}

.sprite-integration {
  background-position: -5px -227px;
}

.sprite-it {
  background-position: -85px -227px;
}

.sprite-law {
  background-position: -156px -227px;
}

.sprite-license {
  background-position: -227px -227px;
}

.sprite-log {
  background-position: -307px -227px;
}

.sprite-market {
  background-position: -85px -298px;
}

.sprite-prod {
  background-position: -156px -298px;
}

.sprite-realty {
  background-position: -307px -298px;
}

.sprite-rent {
  background-position: -387px -5px;
}

.sprite-sales {
  background-position: -396px -85px;
}

.sprite-sellings {
  background-position: -396px -165px;
}

.sprite-sport {
  background-position: -378px -236px;
}

.sprite-support {
  background-position: -5px -307px;
}

.sprite-teach {
  background-position: -227px -307px;
}

.sprite-training {
  background-position: -378px -307px;
}

.sprite-transport {
  background-position: -5px -387px;
}
