.pagination {
  &__list {
    display: flex;
  }

  &__button {
    @include reset-button;
    @include flex-center;
    @include square(24px);

    color: var(--color-light);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-image: url("../img/icons/star.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.is-active {
      &::before {
        background-image: url("../img/icons/star-active.svg");
      }
    }

    @include hover {
      &::before {
        background-image: url("../img/icons/star-active.svg");
      }
    }
  }
}
