.section {
  margin-bottom: var(--section-padding-y);

  &__body {
    position: relative;
  }

  &__title {
    --_section-title-fz: clamp(2.063rem, 0.188rem + 9.38vw, 3rem);

    margin-bottom: rem(70);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: var(--_section-title-fz);
    line-height: 1.3;

    @include mobile {
      margin-bottom: rem(50);
    }
  }

  &--hidden-x {
    overflow-x: hidden;
  }
}

.section-description {
  font-family: var(--font-family-extra);
  font-weight: 400;
  font-size: rem(24);
  line-height: 1.3;
}
