.section {
  margin-bottom: var(--section-padding-y);

  &__content {
    position: relative;

    &--with-paddings {
      padding-block: rem(50);

      @include mobile {
        padding-block: clamp(1.875rem, 0.98rem + 4.47vw, 3.125rem);
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(50);
    gap: rem(70);

    @include mobile {
      margin-bottom: rem(30);
      gap: rem(40);
    }
  }

  &__title {
    --_section-title-fz: clamp(2.063rem, 0.188rem + 9.38vw, 3rem);

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: var(--_section-title-fz);
    line-height: 1.3;
  }

  &__body {
    &--decor-dots {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
      }

      &::before {
        right: 0;
        top: 70%;
        z-index: -1;
        width: rem(386);
        height: rem(690);
        background-image: url("../img/page-decor/dots-v2.png");
        opacity: 0.5;

        @include mobile-s {
          display: none;
        }
      }

      &::after {
        @include square(40px);

        left: 41.5%;
        bottom: -70px;
        background-image: url("../img/page-decor/balls/yellow-ball.png");
        background-size: cover;
        filter: blur(5px);

        @include mobile {
          display: none;
        }
      }
    }
  }

  &-title-h3 {
    font-family: var(--font-family-extra);
    font-weight: 500;
    font-size: rem(18);
    line-height: 1.23;
  }

  &--hidden-x {
    overflow-x: hidden;
  }

  &--with-borders {
    position: relative;
    margin-bottom: rem(100);
    border-image: var(--section-border-top-gd);

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      opacity: 0.5;
    }

    &::before {
      top: -1px;
      background-image: var(--section-border-top-gd);
    }

    &::after {
      bottom: -1px;
      background-image: var(--section-border-bottom-gd);
    }

    @include mobile {
      margin-bottom: rem(80);
    }
  }

  /* stylelint-disable-next-line order/order */
  &-description {
    margin-bottom: rem(50);
  }

  &__description,
  &-description {
    --_descr-grid-gap: 20px;

    max-width: rem(390);
    font-family: var(--font-family-extra);
    font-weight: 400;
    font-size: rem(24);
    line-height: 1.3;

    p:not(:first-of-type) {
      font-size: rem(18);
    }

    &--grid-row,
    &--grid-col {
      display: grid;
      max-width: unset;
    }

    &--grid-row {
      grid-template-columns: calc(var(--first-column-width) - var(--_descr-grid-gap)) 1fr;
      gap: var(--_descr-grid-gap);

      p:not(:first-child) {
        padding-right: clamp(0rem, -182.069rem + 284.48vw, 20.625rem);
      }

      @include mobile {
        --_descr-grid-gap: 25px;

        grid-template-columns: 1fr;
      }
    }

    &--grid-col {
      align-self: self-start;
      margin-bottom: unset;
      gap: var(--_descr-grid-gap);

      p {
        padding-right: clamp(0rem, -71.724rem + 112.07vw, 8.125rem);
      }

      @include tablet {
        grid-template-columns: calc(var(--first-column-width) - var(--_descr-grid-gap)) 1fr;
      }

      @include mobile {
        grid-template-columns: 1fr;
      }
    }
  }
}
