.section {
  margin-bottom: var(--section-padding-y);

  &__content {
    position: relative;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(50);
    gap: rem(70);

    @include mobile {
      margin-bottom: rem(30);
      gap: rem(50);
    }
  }

  &__title {
    --_section-title-fz: clamp(2.063rem, 0.188rem + 9.38vw, 3rem);

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: var(--_section-title-fz);
    line-height: 1.3;

    &:only-child {
      margin-bottom: rem(20);

      @include mobile {
        margin-bottom: rem(20);
      }
    }
  }

  &--hidden-x {
    overflow-x: hidden;
  }

  &__description,
  &-description {
    max-width: rem(390);
    font-family: var(--font-family-extra);
    font-weight: 400;
    font-size: rem(24);
    line-height: 1.3;
  }
}
