.soc1als {
  &__list {
    display: flex;
    column-gap: rem(10);
  }

  &__item {
  }

  &__link {
    @include flex-center(true);
    @include square(40px);

    color: var(--text-color);

    @include hover {
      color: var(--color-accent);
    }
  }
}
