.text-with-dash {
  --_twdTop: 0.8em;

  p,
  &--alt {
    position: relative;
    padding-left: 1.8em;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: var(--_twdTop);
      width: 1.2em;
      height: rem(1);
      background: var(--text-gradient);
    }
  }

  &--alt {
    &::before {
      --_twdTop: 0.6em;
    }
  }
}
