.widget-cta {
  --_wptb: 1.25rem; /* 20px */
  --_wpr: 1.875rem; /* 30px */
  --_wpl: 3.125rem; /* 50px */

  padding: var(--_wptb) var(--_wpr) var(--_wptb) var(--_wpl);
  background-image: linear-gradient(
    90deg,
    rgb(14 16 20) 0%,
    rgb(14 16 20 / 0%) 100%
  );

  &__header {
    margin-bottom: rem(20);

    @include mobile {
      margin-bottom: rem(15);
    }

    @include mobile-s {
      padding-right: rem(15);
      padding-left: rem(15);
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(20);
  }

  &__terms {
    p:not(:last-of-type) {
      margin-bottom: rem(10);
    }

    @include mobile-s {
      padding-right: rem(15);
      padding-left: rem(15);
    }
  }

  &__button {
    flex-shrink: 0;
    flex-basis: rem(263);

    @include mobile {
      flex-basis: 100%;
    }
  }

  @include mobile {
    --_wpr: 0.938rem;
    --_wpl: 0.938rem;

    border: 1px solid transparent;
    border-image: var(--pastel-gradient);
    border-image-slice: 1;
  }

  @include mobile-s {
    padding: unset;
    padding-top: rem(20);
    background-color: var(--bg-color);
  }
}
